.basket {
  background-color: $white;
  padding: 20px;
  color: $gray;
  table {
    margin: 0 auto;
  }
  td, th {
    padding: 5px 10px;
  }
  .th-header {
    position: relative;
  }
  .th-header:after {
    content:'';
    height: 2px;
    background: $green;
    position: absolute;
    bottom: 1px;
    left: 8px;
    right: 8px;
  }
  .th-header:last-child:after {
    height: 0;
    width: 0;
  }

  tr{
    border-bottom: 1px solid #DDD;
  }
  tr:last-child {
    border-top: 1px solid #888;
    border-bottom: 0;
  }
  tr:first-child {
    border-bottom: 0;
  }
}

.fa-times-circle-o {
  color: #777;
}

.fa-times-circle-o:hover {
  color: $green;
}

.figures {
  text-align: right !important;
}

.table-pic {
  height: 50px;
  width: 75px;
  background-size: cover !important;
  background-position: center;
}
