<div class="col-md-6 col-md-offset-3">
<h1>Sellers Index</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <ul>

    <% @seller.each do |c| %>
      <li> <%= link_to("c.last_name", seller_path(c) )%> </li>
    <% end %>

  </ul>
  </div>
</div>
