#titre{
  margin-bottom: 30px;
  text-align: center;
}

#description{
  background-color: white;


}

#category{
  background-color: white;
}

.row{
  padding-right: 30px;
  padding-left: 10px;
}

#prix{
  list-style: none;
}

.form-group{
  display: flex;
}

