<div class="container">
  <h2>Votre commande N°<%= @order.id %> est terminée !</h2>
  <div>Elle est en cours de validation</div>
  <img src="http://static.deathandtaxesmag.com/uploads/2013/03/tumblr_mkd241kQgx1qzfsnio2_1280.jpg" alt="">
  <div><%= link_to "retour accueil", root_path, class:"btn btn-success" %></div>
</div>
